@{
    ViewData["Title"] = "Posted";
}

<h2>Gelukt!</h2>
<div>
    <p>Je advertentie "@TempData["Title"]" is succesvol geplaatst.</p>
</div>
<a href="@Url.Action("PostAdvertisement", "Advertisement")">
    Maak nog een advertentie
</a>

