@{
    ViewData["Title"] = "Posted";
}
<link rel="stylesheet" href="~/css/Posted.css" />

<h2>Gelukt!</h2>
<div>
    <p>Je advertentie "@TempData["Title"]" is succesvol geplaatst.</p>
</div>
<button type="button" onclick="location.href='@Url.Action("PostAdvertisement", "Advertisement")'">Maak nog een advertentie</button>


