@{
    ViewData["Title"] = "Regels";
}

<article class="about">
    <h2>Hoe werkt het?</h2>
    <p>
        1. Op StexChange worden alleen tuinplanten aangeboden. Het gaat ons immers om de biodiversiteit.<br /><br />

        2. Het plantmateriaal dat je aanbiedt, is - voor zover je weet - gekweekt zonder pesticiden of andere gifstoffen.<br /><br />

        3. StexChange is een platform om te ruilen en/of te delen met elkaar. Het platform is niet bedoeld voor commerci&euml;le doeleinden. Er wordt dus niet gehandeld met geld. <br /><br />

        4. Op StexChange mag je geen planten aanbieden die kweekrechtelijk beschermd zijn. Een plant is kweekrechtelijk beschermd als er PBR of PFAFF achter de plantnaam staat, maar soms staat er ook &reg;. Kijk hiervoor op: <a href="https://www.plantago.nl/kwekersrecht.html" target="_blank">www.plantago.nl/kwekersrecht.html</a> <br /><br />

        5. StexChange is niet verantwoordelijk voor de kwaliteit van het aanbod. Wij proberen de kwaliteit van het aanbod hoog te houden door je in de gelegenheid te stellen de aanbieder en het product achteraf een beoordeling te geven. <br /><br />

        6. We willen graag stimuleren dat het delen en ruilen zo duurzaam mogelijk gebeurt. Daarom zie je bij ieder aanbod direct op welke afstand jet het kunt vinden. We zouden het tof vinden als je de planten zoveel mogelijk lopend, fietsend of met het OV gaat halen. <br /><br />
    </p>
</article>