$lightgreen: #b2e8d4;
$green: #4ecd92;
$darkgreen: #015e54;
$lightshadow: rgba(0,0,0,0.1);
$shadow: #b2e8d4;
$darkshadow: rgba(0,0,0,0.8);
$lightshadowwhite: rgba(255,255,255,0.1);
$shadowwhite: rgba(255,255,255,0.3);
$darkshadowwhite: rgba(255,255,255,0.8);


html {
    body {

        #chatcontainer {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            display: grid;
            grid-template-rows: 10% 80% 10%;
            grid-template-columns: 25% 75%;
            grid-template-areas: "conversationslist chattitle" "conversationslist messagelist" "conversationslist chatform";
            margin: 5%;
            margin-top: 1%;
            width: 90%;
            height: 85vh;
            background: $lightgreen;
            border-radius: 1vh;


            #conversationslist {
                grid-area: conversationslist;
                background: $darkgreen;
                border-radius: 1vh 0 0 1vh;

                #chatinboxtitle {
                    color: white;
                    font-weight: bold;
                    background: $darkgreen;
                    height: 6vh;
                    font-size: 4vh;
                    margin: 1%;
                }

                p {
                    margin-top: 0.4%;
                    text-align: left;
                    padding: 1.5%;
                    padding-left: 4%;
                }

                .conversation_entry {
                    margin: 0%;
                    border-top: 0.1vh solid #b2e8d4;
                    background: $darkgreen;
                    color: white;
                }

                .conversation_entry:hover {
                    border-top: 0.1vh solid white;
                    background: $lightgreen;
                    color: $darkgreen;
                }

                .conversation_entry.active {
                    border-top: 0.1vh solid white;
                    background: $lightgreen;
                    color: $darkgreen;
                }
            }

            #chattitle {
                grid-area: chattitle;
                font-size: 4vh;
                background: $darkshadowwhite;
                border-radius: 0 1vh 0 0;
                font-weight: bold;
                color: $darkgreen;
                border-bottom: 0.1vh solid $darkgreen;
                padding-left: 3%;
                padding-top: 1.5%;
            }

            #messagelist {
                background: $darkshadowwhite;
                grid-area: messagelist;
                overflow-y: scroll;

                .message_container {
                    .message_info {
                        font-size: 19px;
                        color: $darkgreen;
                        display: block;
                    }
                }

                .message_right_align {
                    display: block;
                    float: right;
                    clear: both;
                    margin-right: 3%;
                    margin-left: 3%;
                    width: 94%;


                    span {
                        float: right;
                        display: block;
                        clear: both;
                    }

                    .message_content {
                        background-color: $darkgreen;
                        font-size: 27px;
                        color: white;
                        border-radius: 0.5vh;
                        padding-left: 1%;
                        text-align: right;
                        padding-right: 1%;
                        min-width: 10%;
                        max-width: 84%;
                        float: right;
                        display: block;
                        clear: both;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .message_left_align {
                    display: block;
                    float: left;
                    clear: both;
                    margin-left: 3%;
                    width: 94%;
                    margin-right: 3%;

                    span {
                        float: left;
                        display: block;
                        clear: both;
                    }

                    .message_content {
                        border: 0.1vh solid $darkgreen;
                        background-color: white;
                        font-size: 27px;
                        color: $darkgreen;
                        border-radius: 0.5vh;
                        padding-left: 1%;
                        padding-right: 1%;
                        min-width: 10%;
                        max-width: 84%;
                        float: left;
                        display: block;
                        clear: both;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                // .message_content {
                //    word-wrap = break-word;
                // }
            }

            #chatform {
                display: grid;
                grid-area: chatform;
                grid-template-rows: 20% 60% 20%;
                grid-template-columns: 2% 75% 3% 15% 5%;
                grid-template-areas: '. . . . .''. typemessage . sendmessage .''. . . . .';
                border-radius: 0 0vh 1vh 0;
                background: $lightgreen;
                border-top: .1vh solid $darkgreen;


                #typemessage {
                    grid-area: typemessage;
                    font-size: 2vh;
                    border-radius: 1vh;
                    padding: 2%;
                }

                #sendmessage {
                    grid-area: sendmessage;
                    border-radius: 1vh;
                    background: $darkgreen;
                    color: white;
                    font-size: 2vh;
                }
            }
        }
    }
}
