$lightgreen: #80ff8d;
$green: #19ff30;
$darkgreen: #005709;
$lightshadow: rgba(0,0,0,0.1);
$shadow: #b2e8d4;
$darkshadow: rgba(0,0,0,0.8);
$lightshadowwhite: rgba(255,255,255,0.1);
$shadowwhite: rgba(255,255,255,0.3);
$darkshadowwhite: rgba(255,255,255,0.8);
$greenshadow: rgba(25, 255, 48, 0.5);


html {
    body {
        main {
            line-height: 2vh;

            #chatcontainer {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                display: grid;
                grid-template-rows: 5% 90% 5%;
                grid-template-columns: 25% 75%;
                grid-template-areas: "conversationslist chattitle" "conversationslist messagelist" "conversationslist chatform";
                margin: 5%;
                margin-top: 1%;
                width: 90%;
                height: 85vh;
                border-radius: 1vh;


                #conversationslist {
                    grid-area: conversationslist;
                    background: $darkshadow;
                    border-radius: 0.2vh 0 0 1vh;

                    #chatinboxtitle {
                        color: $lightgreen;
                        font-size: 2vh;
                        margin: 1%;
                        text-transform: uppercase;
                        margin-left: 0%;
                    }

                    p {
                        margin-top: 0.4%;
                        text-align: left;
                        padding: 1.5%;
                        padding-left: 4%;
                    }

                    .conversation_entry {
                        margin: 0%;
                        border-top: 0.1vh solid white;
                        color: white;
                        text-transform: uppercase;
                        font-size: 1.8vh;
                    }

                    .conversation_entry:hover {
                        border-top: 0.1vh solid white;
                        background: $lightgreen;
                        color: $darkgreen;
                    }

                    .conversation_entry.active {
                        border-top: 0.1vh solid white;
                        background: $lightgreen;
                        color: $darkgreen;
                    }
                }

                #chattitle {
                    grid-area: chattitle;
                    font-size: 2vh;
                    background: rgba(0, 0, 0, 0.8);
                    border-radius: 0 1vh 0 0;
                    color: white;
                    text-transform: uppercase;
                    border-bottom: 0.1vh solid white;
                    padding-right: 1%;
                    padding-top: 1%;
                    padding-left: 3vh;
                }

                #messagelist {
                    background: $darkshadowwhite;
                    grid-area: messagelist;
                    overflow-y: scroll;
                    padding-bottom: 3vh;

                    .message_container {
                        margin-bottom: 2vh;
                        margin-top: 1vh;

                        .message_info {
                            font-size: 1.3vh;
                            color: $darkshadow;
                            display: block;
                            line-height: 2vh;
                        }
                    }

                    .message_right_align {
                        display: block;
                        float: right;
                        clear: both;
                        margin-right: 3vh;
                        margin-left: 3vh;
                        margin-bottom: 0vh;
                        width: 94%;


                        span {
                            float: right;
                            display: block;
                            clear: both;
                        }

                        .message_content {
                            background-color: $darkshadow;
                            font-size: 27px;
                            color: white;
                            border-radius: 0.2vh;
                            padding-left: 1%;
                            text-align: right;
                            padding-right: 1%;
                            min-width: 10%;
                            max-width: 84%;
                            float: right;
                            display: block;
                            clear: both;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            line-height: 3.5vh;
                            font-size: 2vh;
                        }
                    }

                    .message_left_align {
                        display: block;
                        float: left;
                        clear: both;
                        margin-left: 3vh;
                        width: 94%;
                        margin-right: 3vh;
                        margin-bottom: 0vh;

                        span {
                            float: left;
                            display: block;
                            clear: both;
                        }

                        .message_content {
                            border: 0.1vh solid $darkshadow;
                            background-color: white;
                            font-size: 27px;
                            color: $darkshadow;
                            border-radius: 0.2vh;
                            padding-left: 1%;
                            padding-right: 1%;
                            min-width: 10%;
                            max-width: 84%;
                            float: left;
                            display: block;
                            clear: both;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            line-height: 3.5vh;
                            font-size: 2vh;
                        }
                    }
                    // .message_content {
                    //    word-wrap = break-word;
                    // }
                }

                #chatform {
                    display: grid;
                    grid-area: chatform;
                    grid-template-rows: 10% 80% 10%;
                    grid-template-columns: 1% 87% 1% 10% 1%;
                    grid-template-areas: '. . . . .''. typemessage . sendmessage .''. . . . .';
                    border-radius: 0 0vh 0.2vh 0;
                    background: $darkshadowwhite;
                    border-top: .1vh solid $darkshadow;


                    #typemessage {
                        grid-area: typemessage;
                        font-size: 1.8vh;
                        border-radius: 0.2vh;
                        padding-left: 1vh;
                    }

                    #sendmessage {
                        grid-area: sendmessage;
                        border-radius: 0.2vh;
                        background: $darkshadow;
                        color: white;
                        font-size: 1.8vh;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}
