@media screen and (max-width: 600px) {
  body {
    width: 100%; }
    body main {
      width: 100%; }
      body main #confirmBlock {
        display: none;
        z-index: 3;
        border: 2.5px solid #005709;
        margin: auto;
        width: 60vh;
        padding: 1%;
        border-radius: 1vh;
        text-align: center;
        background-color: white;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        body main #confirmBlock h4 {
          color: #005709;
          margin-left: 0; }
        body main #confirmBlock input[type="button"], body main #confirmBlock input[type="submit"] {
          margin-left: 5%;
          margin-right: 10%;
          background-color: #005709;
          width: 20%;
          border-radius: 1vh;
          height: calc(4vh);
          font-size: 2vh;
          color: white;
          margin-top: 1%;
          cursor: pointer; }
      body main #blockUser, body main #sendmessage {
        background-color: #015e54;
        border: solid;
        border-radius: 30px;
        border-color: #3eaf91;
        text-align: center;
        display: block;
        font-size: 2vh;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: white;
        margin-right: 1%;
        margin-top: 3%;
        width: 50%;
        height: 4vh;
        margin-left: 25%; }
      body main h4 {
        color: #005709;
        font-size: 30px;
        margin-left: 10%; }
      body main .section {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%; }
        body main .section .section-img {
          position: relative;
          text-align: center;
          width: 100%;
          margin: 0;
          padding: 0;
          float: left;
          cursor: pointer; }
          body main .section .section-img #imgoutput {
            border: 0.5px solid #3eaf91;
            display: block;
            float: left;
            width: 100%;
            object-fit: cover; }
          body main .section .section-img a {
            display: none;
            position: absolute;
            top: 50%;
            right: 1%;
            transform: translate(-50%, -50%);
            background-color: black;
            color: white;
            width: 5%;
            border-radius: 10%;
            opacity: 0.7; }
        body main .section .user_information {
          position: relative;
          background-color: #015e54;
          color: white;
          padding: 4%;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          float: right;
          width: 92%;
          font-size: 2vh;
          margin-top: 5%; }
          body main .section .user_information #sendmsg {
            margin-top: 10%; }
            body main .section .user_information #sendmsg #typemessage {
              display: block;
              height: 2vh;
              width: 95%;
              padding: 2%;
              font-size: 2vh; }
            body main .section .user_information #sendmsg input[type=submit] {
              background-color: #015e54;
              border: solid;
              border-radius: 30px;
              border-color: #3eaf91;
              text-align: center;
              display: block;
              font-size: 2vh;
              cursor: pointer;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              color: white;
              margin-right: 1%;
              margin-top: 3%;
              width: 50%;
              height: 4vh;
              margin-left: 25%; }
            body main .section .user_information #sendmsg input[type=button]:hover {
              background-color: #3eaf91; }
      body main .tabsection {
        margin-top: 1%;
        display: block;
        border: 2px solid #015e54;
        float: left;
        width: 79%;
        margin-left: 10%; }
        body main .tabsection .basic_tab {
          cursor: pointer;
          background-color: #015e54;
          color: white;
          float: left;
          width: 60%;
          font-size: 2vh;
          text-align: center; }
        body main .tabsection .filters_tab {
          cursor: pointer;
          background-color: white;
          float: left;
          width: 40%;
          font-size: 2vh;
          text-align: center; }
      body main .plant_information {
        padding: 5%;
        margin-left: 10%;
        border: 0.5px solid #015e54;
        margin-right: 10%;
        background-color: white;
        float: left;
        display: block;
        width: 70%;
        padding-bottom: 30%; }
      body main p {
        font-size: 2vh;
        font-weight: bold; } }

@media screen and (min-width: 600px) {
  body {
    width: 100%; }
    body main {
      width: 100%; }
      body main #confirmBlock {
        display: none;
        z-index: 3;
        border: 2.5px solid #005709;
        margin: auto;
        width: 60vh;
        padding: 1%;
        border-radius: 1vh;
        text-align: center;
        background-color: white;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        body main #confirmBlock h4 {
          color: #005709;
          margin-left: 0; }
        body main #confirmBlock input[type="button"], body main #confirmBlock input[type="submit"] {
          margin-left: 5%;
          margin-right: 10%;
          background-color: #005709;
          width: 20%;
          border-radius: 1vh;
          height: calc(4vh);
          font-size: 2vh;
          color: white;
          margin-top: 1%;
          cursor: pointer; }
      body main #blockUser, body main #sendmessage {
        background-color: #015e54;
        border: solid;
        border-radius: 30px;
        border-color: #3eaf91;
        text-align: center;
        display: block;
        font-size: 2vh;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: white;
        margin-right: 1%;
        margin-top: 3%;
        width: 50%;
        height: 4vh;
        margin-left: 25%; }
      body main h4 {
        color: #005709;
        font-size: 30px;
        margin-left: 10%; }
      body main .section {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%; }
        body main .section .section-img {
          position: relative;
          text-align: center;
          width: 65%;
          height: calc(65vh);
          margin: 0;
          padding: 0;
          float: left;
          cursor: pointer; }
          body main .section .section-img #imgoutput {
            border: 0.5px solid #3eaf91;
            display: block;
            float: left;
            width: 100%;
            height: calc(65vh);
            object-fit: cover; }
          body main .section .section-img a {
            display: none;
            position: absolute;
            top: 50%;
            right: 1%;
            transform: translate(-50%, -50%);
            background-color: black;
            color: white;
            width: 5%;
            border-radius: 10%;
            opacity: 0.7; }
        body main .section .user_information {
          position: relative;
          background-color: #015e54;
          color: white;
          padding: 8px 16px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          float: right;
          width: 30%;
          font-size: 2vh;
          height: calc(58vh);
          font-size: 2vh;
          height: calc(55vh); }
          body main .section .user_information #sendmsg {
            margin-top: 10%; }
            body main .section .user_information #sendmsg #typemessage {
              display: block;
              height: 2vh;
              width: 95%;
              padding: 2%;
              font-size: 2vh; }
            body main .section .user_information #sendmsg input[type=submit] {
              background-color: #015e54;
              border: solid;
              border-radius: 30px;
              border-color: #3eaf91;
              text-align: center;
              display: block;
              font-size: 2vh;
              cursor: pointer;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              color: white;
              margin-right: 1%;
              margin-top: 3%;
              width: 50%;
              height: 4vh;
              margin-left: 25%; }
            body main .section .user_information #sendmsg input[type=button]:hover {
              background-color: #3eaf91; }
      body main .tabsection {
        margin-top: 1%;
        display: block;
        margin-left: 10%;
        margin-right: 10%;
        border-bottom: 3px solid #015e54;
        float: left;
        width: 80%;
        font-size: 20px; }
        body main .tabsection .basic_tab {
          padding: 8px 16px;
          border: solid;
          cursor: pointer;
          background-color: #015e54;
          color: white;
          border: 2px solid #015e54;
          float: left;
          width: 200px;
          height: 3%;
          text-align: center; }
        body main .tabsection .filters_tab {
          padding: 8px 16px;
          border: solid;
          cursor: pointer;
          background-color: white;
          border: 2px solid #015e54;
          float: left;
          width: 200px;
          height: 3%;
          text-align: center; }
      body main .plant_information {
        padding: 8px 16px;
        margin-left: 10%;
        border: 0.5px solid #015e54;
        margin-right: 10%;
        background-color: white;
        float: left;
        display: block;
        width: 80%;
        margin-bottom: 3%; }
      body main p {
        font-size: 2vh;
        font-weight: bold; } }
