#profileColumn {
  margin-left: 5%;
  margin-right: 1%;
  width: 20%;
  float: left;
  border: 1.5px solid #465D43;
  padding: 1%;
  line-height: 4vh; }
  #profileColumn h4 {
    font-size: 2.5vh;
    color: #465D43; }
  #profileColumn p {
    font-size: 2vh;
    color: #465D43; }
  #profileColumn .stars {
    font-size: 2vh;
    color: #465D43; }
  #profileColumn label {
    float: right; }
  #profileColumn span {
    font-size: 2vh;
    float: right;
    color: #465D43; }
  #profileColumn button {
    border: 1.5px solid #465D43;
    width: 80%;
    height: 5vh;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 2vh;
    background-color: white;
    color: #465D43; }
  #profileColumn button:hover {
    background-color: #465D43;
    color: white;
    cursor: pointer; }

#myadvertisementsColumn {
  width: 65%;
  float: right;
  margin-right: 6%; }
  #myadvertisementsColumn h3 {
    font-size: 2.5vh;
    color: #465D43; }
  #myadvertisementsColumn p {
    color: #465D43; }
  #myadvertisementsColumn .advertisementColumn {
    margin-bottom: 1.5%;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    display: flex;
    border: 1.5px solid #465D43; }
    #myadvertisementsColumn .advertisementColumn .advertisementInfo {
      float: left;
      padding: 1%;
      width: 80%; }
      #myadvertisementsColumn .advertisementColumn .advertisementInfo img {
        float: left;
        width: 25%;
        height: calc(100%);
        object-fit: cover; }
      #myadvertisementsColumn .advertisementColumn .advertisementInfo h4 {
        margin-left: 26%;
        font-size: 2vh;
        color: #465D43; }
      #myadvertisementsColumn .advertisementColumn .advertisementInfo p {
        margin-left: 26%;
        font-size: 1.8vh; }
    #myadvertisementsColumn .advertisementColumn .advertisementOptions {
      float: right;
      padding: 1%;
      width: 20%; }
      #myadvertisementsColumn .advertisementColumn .advertisementOptions input {
        float: right;
        clear: both;
        background-color: #465D43;
        border: 1.5px solid #465D43;
        width: 100%;
        padding: 1%;
        height: 5vh;
        margin-bottom: 5%;
        margin-right: 10%;
        text-align: center;
        font-size: 2vh;
        color: white; }
      #myadvertisementsColumn .advertisementColumn .advertisementOptions .deleteButton {
        border: 1.5px solid #C51014;
        background-color: #C51014; }
      #myadvertisementsColumn .advertisementColumn .advertisementOptions input[type=button]:hover {
        cursor: pointer; }
      #myadvertisementsColumn .advertisementColumn .advertisementOptions input[type=checkbox] {
        display: none; }
      #myadvertisementsColumn .advertisementColumn .advertisementOptions .slider {
        position: relative;
        display: inline-block;
        float: right;
        clear: both;
        background-color: rgba(0, 0, 0, 0.2);
        border: 1.5px solid #465D43;
        width: 97.5%;
        padding: 1%;
        height: 4vh;
        margin-bottom: 5%;
        margin-right: 10%;
        text-align: center;
        font-size: 2vh; }
      #myadvertisementsColumn .advertisementColumn .advertisementOptions .slider:hover {
        cursor: pointer; }
      #myadvertisementsColumn .advertisementColumn .advertisementOptions .slider:before {
        position: absolute;
        content: "";
        height: 4vh;
        width: 4vh;
        left: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s; }
      #myadvertisementsColumn .advertisementColumn .advertisementOptions input:checked + .slider {
        background-color: #465D43; }
      #myadvertisementsColumn .advertisementColumn .advertisementOptions input:focus + .slider {
        box-shadow: 0 0 1px #465D43; }
      #myadvertisementsColumn .advertisementColumn .advertisementOptions input:checked + .slider:before {
        left: 82.5%; }
      #myadvertisementsColumn .advertisementColumn .advertisementOptions .slider:after {
        content: 'INACTIEF';
        color: #465D43;
        display: block;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        font-size: 2vh;
        font-family: Verdana, sans-serif; }
      #myadvertisementsColumn .advertisementColumn .advertisementOptions input:checked + .slider:after {
        content: 'ACTIEF';
        color: white; }
      #myadvertisementsColumn .advertisementColumn .advertisementOptions .slider.round {
        border-radius: 10px; }
      #myadvertisementsColumn .advertisementColumn .advertisementOptions .slider.round:before {
        border-radius: 50%; }

#requestForm {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: none;
  width: 30%;
  float: right;
  margin-right: 6%;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1.5px solid #465D43;
  color: #465D43;
  padding-top: 0.5%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  position: fixed;
  top: 50%;
  left: 62%;
  transform: translate(-50%, -50%); }
  #requestForm h3 {
    font-size: 2.5vh;
    float: left; }
  #requestForm p {
    float: left;
    clear: both;
    font-size: 2vh; }
  #requestForm label {
    float: left;
    clear: both;
    font-size: 2vh; }
  #requestForm select {
    float: left;
    clear: both;
    width: 100%;
    border: 2.5px solid #465D43;
    background-color: rgba(255, 255, 255, 0.5);
    height: calc(5vh);
    font-size: 2vh;
    padding-left: 1%; }
  #requestForm input[type=number] {
    float: left;
    clear: both;
    width: 98.5%;
    height: calc(5vh);
    background-color: rgba(255, 255, 255, 0.5);
    border: 2.5px solid #465D43;
    font-size: 2vh;
    padding-left: 1%; }
  #requestForm #confirmButton {
    float: right;
    clear: both;
    background-color: #465D43;
    border: 1.5px solid #465D43;
    width: 40%;
    height: 5vh;
    margin-top: 4%;
    text-align: center;
    font-size: 2vh;
    color: white; }
  #requestForm #cancelButton {
    float: right;
    width: 10%;
    margin-top: 2%;
    background-color: #465D43;
    text-align: center;
    font-size: 2vh;
    color: white; }
  #requestForm input[type=button]:hover {
    cursor: pointer; }

#mySettingsColumn {
  display: none;
  width: 70%;
  float: right; }
  #mySettingsColumn h3 {
    font-size: 2.5vh;
    float: left;
    margin-top: 1%;
    color: #465D43; }
  #mySettingsColumn #formColumn {
    margin-bottom: 1.5%;
    width: 65%;
    height: 67vh;
    border: 1.5px solid #465D43;
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%; }
    #mySettingsColumn #formColumn label {
      float: left;
      clear: both;
      font-size: 2vh; }
    #mySettingsColumn #formColumn input[type=text] {
      float: left;
      clear: both;
      width: 98.5%;
      height: calc(5vh);
      background-color: rgba(255, 255, 255, 0.5);
      border: 2.5px solid #465D43;
      font-size: 2vh;
      padding-left: 1%; }
    #mySettingsColumn #formColumn #saveButton, #mySettingsColumn #formColumn #cancelButton {
      background-color: #465D43;
      text-align: center;
      color: white;
      float: right;
      font-size: 2vh; }
    #mySettingsColumn #formColumn #saveButton {
      clear: both;
      border: 1.5px solid #465D43;
      width: 40%;
      height: 5vh;
      margin-top: 4%; }
    #mySettingsColumn #formColumn #cancelButton {
      width: 10%;
      margin-top: 2.5%; }
    #mySettingsColumn #formColumn input[type=button]:hover {
      cursor: pointer; }

#ratingreviewColumn {
  width: 65%;
  float: right;
  margin-right: 6%;
  display: none; }
  #ratingreviewColumn h3 {
    font-size: 2.5vh;
    color: #465D43; }
  #ratingreviewColumn h4 {
    font-size: 2vh;
    color: #465D43; }
  #ratingreviewColumn p {
    color: #465D43; }
  #ratingreviewColumn .reviewRequest {
    margin-bottom: 1.5%;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    border: 1.5px solid #465D43;
    line-height: 3vh; }
    #ratingreviewColumn .reviewRequest .reviewInfo {
      float: left;
      padding: 1%; }
      #ratingreviewColumn .reviewRequest .reviewInfo h4 {
        margin-left: 10%;
        font-size: 2.2vh;
        color: #465D43; }
      #ratingreviewColumn .reviewRequest .reviewInfo p {
        margin-left: 10%;
        font-size: 2vh; }
    #ratingreviewColumn .reviewRequest .reviewOptions {
      float: right;
      padding: 1%;
      margin-top: 0.25%; }
      #ratingreviewColumn .reviewRequest .reviewOptions input {
        float: right;
        clear: both;
        background-color: #465D43;
        border: 1.5px solid #465D43;
        width: 110%;
        padding: 1%;
        height: 5vh;
        margin-right: 10%;
        text-align: center;
        font-size: 2vh;
        color: white; }
      #ratingreviewColumn .reviewRequest .reviewOptions input[type=button]:hover {
        cursor: pointer; }

#modifyAdvertismentForm {
  display: none;
  width: 55%;
  float: right;
  margin-right: 15%;
  border: 1.5px solid #465D43;
  background-color: rgba(255, 255, 255, 0.8);
  padding-bottom: 2vh; }
  #modifyAdvertismentForm h3 {
    font-size: 2.5vh;
    color: #465D43;
    float: left;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%; }
  #modifyAdvertismentForm p, #modifyAdvertismentForm label {
    font-size: 2vh;
    color: #465D43; }
  #modifyAdvertismentForm #imgContainer {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%; }
    #modifyAdvertismentForm #imgContainer #imgoutput {
      width: 100%;
      margin-top: 1%;
      height: calc(100%);
      object-fit: cover;
      border: 1.5px solid #465D43; }
    #modifyAdvertismentForm #imgContainer .imageslides {
      text-align: center;
      margin-bottom: 1%;
      margin-top: 1%; }
      #modifyAdvertismentForm #imgContainer .imageslides .previous {
        background-color: #465D43;
        padding: 2%;
        border-radius: 50vh;
        line-height: 0;
        color: white; }
      #modifyAdvertismentForm #imgContainer .imageslides #imagecounter {
        margin-left: 10%;
        margin-right: 10%;
        line-height: 0;
        padding: 2%;
        color: white; }
      #modifyAdvertismentForm #imgContainer .imageslides .next {
        background-color: #465D43;
        padding: 2%;
        border-radius: 50vh;
        line-height: 0;
        color: white; }
    #modifyAdvertismentForm #imgContainer input[type="file"] {
      height: calc(3vh);
      font-size: 2vh;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      cursor: pointer; }
  #modifyAdvertismentForm #generalinformationContainer {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%; }
    #modifyAdvertismentForm #generalinformationContainer label {
      float: left;
      clear: both;
      font-size: 2vh; }
    #modifyAdvertismentForm #generalinformationContainer input[type="text"], #modifyAdvertismentForm #generalinformationContainer input[type="number"] {
      float: left;
      clear: both;
      width: 100%;
      height: calc(5vh);
      background-color: rgba(255, 255, 255, 0.5);
      border: 2.5px solid #465D43;
      font-size: 2vh; }
    #modifyAdvertismentForm #generalinformationContainer textarea {
      border: 2.5px solid #465D43;
      width: 100%;
      height: 200px;
      resize: none;
      font-size: 2vh;
      color: black; }
  #modifyAdvertismentForm #requiredFiltersContainer {
    padding-left: 3%;
    padding-right: 3%; }
    #modifyAdvertismentForm #requiredFiltersContainer label {
      float: left;
      clear: both;
      font-size: 2vh; }
    #modifyAdvertismentForm #requiredFiltersContainer input[type="text"], #modifyAdvertismentForm #requiredFiltersContainer select {
      float: left;
      clear: both;
      width: 100%;
      height: calc(5vh);
      background-color: rgba(255, 255, 255, 0.5);
      border: 2.5px solid #465D43;
      font-size: 2vh; }
  #modifyAdvertismentForm p {
    float: left;
    clear: both;
    background-color: #465D43;
    color: white;
    width: 94%;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    height: 5vh; }
  #modifyAdvertismentForm #extrafiltersContainer {
    padding: 3%; }
    #modifyAdvertismentForm #extrafiltersContainer label {
      float: left;
      clear: both;
      font-size: 2vh; }
    #modifyAdvertismentForm #extrafiltersContainer select {
      float: left;
      clear: both;
      width: 100%;
      height: calc(5vh);
      background-color: rgba(255, 255, 255, 0.5);
      border: 2.5px solid #465D43;
      font-size: 2vh; }
  #modifyAdvertismentForm #advertisementsubmit {
    float: right;
    clear: both;
    border: 1.5px solid #465D43;
    background-color: #465D43;
    color: white;
    font-size: 2vh;
    width: 40%;
    height: 5vh;
    margin-top: 3%;
    margin-right: 3%;
    transition: 0.5s; }
  #modifyAdvertismentForm #cancelButton {
    float: right;
    width: 10%;
    margin-top: 2%;
    margin-right: 3%;
    background-color: #465D43;
    text-align: center;
    font-size: 2vh;
    color: white; }
  #modifyAdvertismentForm input[type=button]:hover {
    background-color: #679868;
    color: white;
    cursor: pointer; }

#reviewAdvertisementColumn {
  display: none;
  width: 50%;
  float: right;
  margin-right: 15%;
  border: 1.5px solid #465D43;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.5vh; }
  #reviewAdvertisementColumn p, #reviewAdvertisementColumn h3 {
    margin-left: 3%;
    float: left;
    clear: both;
    color: #465D43;
    font-size: 2.5vh; }
  #reviewAdvertisementColumn p {
    font-size: 2vh; }
  #reviewAdvertisementColumn .stars {
    margin-left: 5%;
    float: left;
    clear: both; }
  #reviewAdvertisementColumn .qualityrating {
    direction: rtl; }
  #reviewAdvertisementColumn .communicationrating {
    direction: rtl; }
  #reviewAdvertisementColumn input[type=radio] {
    display: none; }
  #reviewAdvertisementColumn label {
    font-size: 50px;
    cursor: pointer;
    color: #808080;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
  #reviewAdvertisementColumn label:hover {
    color: #19ff30; }
  #reviewAdvertisementColumn label:hover ~ label {
    color: #19ff30; }
  #reviewAdvertisementColumn input[type=radio]:checked ~ label {
    color: #19ff30; }
  #reviewAdvertisementColumn #reviewsubmit {
    float: right;
    clear: both;
    border: 1.5px solid #465D43;
    background-color: #465D43;
    color: white;
    font-size: 2vh;
    width: 40%;
    height: 5vh;
    margin-top: 3%;
    margin-right: 3%;
    margin-bottom: 1%;
    transition: 0.5s; }
  #reviewAdvertisementColumn #reviewsubmit:hover, #reviewAdvertisementColumn #cancelButton:hover {
    cursor: pointer; }
  #reviewAdvertisementColumn #cancelButton {
    float: right;
    width: 10%;
    margin-top: 1%;
    margin-right: 3%;
    background-color: #465D43;
    text-align: center;
    font-size: 2vh;
    color: white; }

#errorpopup {
  z-index: 3;
  border: 2.5px solid #465D43;
  margin: auto;
  width: 60vh;
  padding: 1%;
  border-radius: 1vh;
  text-align: center;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  #errorpopup h3 {
    color: #465D43; }
  #errorpopup #errorbutton {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #465D43;
    width: 25%;
    border-radius: 1vh;
    height: calc(4vh);
    font-size: 2vh;
    color: white;
    margin-top: 1%;
    cursor: pointer; }

#confirmDelete {
  display: none;
  z-index: 3;
  border: 2.5px solid #465D43;
  margin: auto;
  width: 60vh;
  padding: 1%;
  border-radius: 1vh;
  text-align: center;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  #confirmDelete h4 {
    color: #465D43; }
  #confirmDelete input[type="button"], #confirmDelete input[type="submit"] {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #465D43;
    width: 20%;
    border-radius: 1vh;
    height: calc(4vh);
    font-size: 2vh;
    color: white;
    margin-top: 1%;
    cursor: pointer; }

#confirmDeleteImages {
  display: none;
  z-index: 3;
  border: 2.5px solid #465D43;
  margin: auto;
  width: 60vh;
  padding: 1%;
  border-radius: 1vh;
  text-align: center;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  #confirmDeleteImages h3 {
    color: #465D43; }
  #confirmDeleteImages input[type="button"] {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #465D43;
    width: 20%;
    border-radius: 1vh;
    height: calc(4vh);
    font-size: 2vh;
    color: white;
    margin-top: 1%;
    cursor: pointer; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #465D43;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #465D43; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #465D43; }
