$color-darkgreen: #465D43;
$color-green: #679868;
$color-red: #C51014;

#profileColumn {
    margin-left: 5%;
    margin-right: 1%;
    width: 20%;
    float: left;
    border: 1.5px solid $color-darkgreen;
    padding: 1%;
    line-height: 4vh;

    h4 {
        font-size: 2.5vh;
        color: $color-darkgreen;
    }

    p {
        font-size: 2vh;
        color: $color-darkgreen;
    }

    .stars {
        font-size: 2vh;
        color: $color-darkgreen;
    }

    label {
        float: right;
    }

    span {
        font-size: 2vh;
        float: right;
        color: $color-darkgreen;
    }

    button {
        border: 1.5px solid $color-darkgreen;
        width: 80%;
        height: 5vh;
        margin-top: 3%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
        font-size: 2vh;
        background-color: white;
        color: $color-darkgreen;
    }

    button:hover {
        background-color: $color-darkgreen;
        color: white;
        cursor: pointer;
    }
}

#myadvertisementsColumn {
    width: 65%;
    float: right;
    margin-right: 6%;

    h3 {
        font-size: 2.5vh;
        color: $color-darkgreen;
    }

    p {
        color: $color-darkgreen;
    }

    #advertisementColumn {
        margin-bottom: 1.5%;
        background-color: rgba(255, 255, 255, 0.5);
        overflow: hidden;
        display: flex;
        border: 1.5px solid $color-darkgreen;

        #advertisementInfo {
            float: left;
            padding: 1%;

            img {
                float: left;
                width: 25%;
            }

            h4 {
                margin-left: 27%;
                font-size: 2vh;
                color: $color-darkgreen;
            }

            p {
                margin-left: 27%;
                font-size: 1.8vh;
            }
        }

        #advertisementOptions {
            float: right;
            padding: 1%;

            input {
                float: right;
                clear: both;
                background-color: $color-darkgreen;
                border: 1.5px solid $color-darkgreen;
                width: 110%;
                padding: 1%;
                height: 5vh;
                margin-bottom: 5%;
                margin-right: 10%;
                text-align: center;
                font-size: 2vh;
                color: white;
            }

            #deleteButton {
                border: 1.5px solid $color-red;
                background-color: $color-red;
            }

            input[type=button]:hover {
                cursor: pointer;
            }
        }
    }
}

#requestForm {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
    width: 30%;
    float: right;
    margin-right: 6%;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1.5px solid $color-darkgreen;
    color: $color-darkgreen;
    padding-top: 0.5%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    position: fixed;
    top: 50%;
    left: 62%;
    transform: translate(-50%, -50%);

    h3 {
        font-size: 2.5vh;
        float: left;
    }

    p {
        float: left;
        clear: both;
        font-size: 2vh;
    }

    label {
        float: left;
        clear: both;
        font-size: 2vh;
    }

    select {
        float: left;
        clear: both;
        width: 100%;
        border: 2.5px solid $color-darkgreen;
        background-color: rgba(255, 255, 255, 0.5);
        height: calc(5vh);
        font-size: 2vh;
        padding-left: 1%;
    }

    input[type=number] {
        float: left;
        clear: both;
        width: 98.5%;
        height: calc(5vh);
        background-color: rgba(255, 255, 255, 0.5);
        border: 2.5px solid $color-darkgreen;
        font-size: 2vh;
        padding-left: 1%;
    }

    #confirmButton {
        float: right;
        clear: both;
        background-color: $color-darkgreen;
        border: 1.5px solid $color-darkgreen;
        width: 40%;
        height: 5vh;
        margin-top: 4%;
        text-align: center;
        font-size: 2vh;
        color: white;
    }

    #cancelButton {
        float: right;
        width: 10%;
        margin-top: 2%;
        background-color: $color-darkgreen;
        text-align: center;
        font-size: 2vh;
        color: white;
    }

    input[type=button]:hover {
        cursor: pointer;
    }
}

#mySettingsColumn {
    display: none;
    width: 70%;
    float: right;

    h3 {
        font-size: 2.5vh;
        float: left;
        margin-top: 1%;
        color: $color-darkgreen;
    }

    #formColumn {
        margin-bottom: 1.5%;
        width: 65%;
        height: 67vh;
        border: 1.5px solid $color-darkgreen;
        background-color: rgba(255, 255, 255, 0.8);
        padding-bottom: 1%;
        padding-left: 2%;
        padding-right: 2%;

        label {
            float: left;
            clear: both;
            font-size: 2vh;
        }

        input[type=text] {
            float: left;
            clear: both;
            width: 98.5%;
            height: calc(5vh);
            background-color: rgba(255, 255, 255, 0.5);
            border: 2.5px solid $color-darkgreen;
            font-size: 2vh;
            padding-left: 1%;
        }

        #saveButton, #cancelButton {
            background-color: $color-darkgreen;
            text-align: center;
            color: white;
            float: right;
            font-size: 2vh;
        }

        #saveButton {
            clear: both;
            border: 1.5px solid $color-darkgreen;
            width: 40%;
            height: 5vh;
            margin-top: 4%;
        }

        #cancelButton {
            width: 10%;
            margin-top: 2.5%;
        }

        input[type=button]:hover {
            cursor: pointer;
        }
    }
}


#ratingreviewColumn {
    width: 65%;
    float: right;
    margin-right: 6%;
    display: none;

    h3 {
        font-size: 2.5vh;
        color: $color-darkgreen;
    }

    p {
        color: $color-darkgreen;
    }

    #reviewRequest {
        margin-bottom: 1.5%;
        background-color: rgba(255, 255, 255, 0.8);
        overflow: hidden;
        border: 1.5px solid $color-darkgreen;
        line-height: 3vh;

        #reviewInfo {
            float: left;
            padding: 1%;

            h4 {
                margin-left: 10%;
                font-size: 2.2vh;
                color: $color-darkgreen;
            }

            p {
                margin-left: 10%;
                font-size: 2vh;
            }
        }

        #reviewOptions {
            float: right;
            padding: 1%;
            margin-top: 0.25%;

            input {
                float: right;
                clear: both;
                background-color: $color-darkgreen;
                border: 1.5px solid $color-darkgreen;
                width: 110%;
                padding: 1%;
                height: 5vh;
                margin-right: 10%;
                text-align: center;
                font-size: 2vh;
                color: white;
            }

            input[type=button]:hover {
                cursor: pointer;
            }
        }
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color-darkgreen;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color-darkgreen;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $color-darkgreen;
}