@{
    ViewData["Title"] = "Inloggen/Registreren";
}
<link rel="stylesheet" href="~/css/Login.css" />

<div class="logincontainer">
    <div class="item1">
        <article class="loginarticle">
            <h1 class="titleleft">STEX</h1><h1 class="titleright">CHANGE</h1>
            <p class="textlogin">
                Stekje over? Te veel planten op je balkon? Op zoek naar een nieuwe soort?
                Op deze site kun je makkelijk zaden en planten met elkaar ruilen of weggeven.
            </p>
        </article>
    </div>

    @if (ViewBag.LoginMessages is object){
        <form id="errorpopup">
            <div id="errorblock" onload="toggleElements()">
                <h3>ERROR</h3>
                @foreach (var message in ViewBag.LoginMessages)
                {
                    <p>@message</p>
                }
                <input type="button" value="OK" onclick="hideForm()" id="errorbutton" />
            </div>
        </form>
    }
    <div class="item2">
        <form action="Inloggen" method="post" class="accountform">
            <h2 class="logintitle">Hallo!<br>Welkom terug.</h2>
            <p>
                <label for="Email" class="labeltext"></label>
                <input class="nonsubmit" placeholder="E-mail of gebruikersnaam" name="emailOrUname" type="text" required>
            </p>
            <p>
                <label for="password" class="labeltext"></label>
                <input class="nonsubmit" placeholder="Wachtwoord" name="password" type="password" required>
            </p>
            <a href="www.link.here"><span class="forgetpasslink">Wachtwoord vergeten?</span></a>
            <input type="submit" value="Inloggen" class="submit" id="loginsubmit">
        </form>
    </div>



     @if (ViewBag.Messages is object)
      {
          <form id="errorpopup">
              <div id="errorblock" onload="toggleElements()">
                   <h3>ERROR</h3>
                   @foreach (var message in ViewBag.Messages)
                   {
                        <p>@message</p>
                   }
                   <input type="button" value="OK" onclick="hideForm()" id="errorbutton" />
              </div>
          </form>            
      }
    <div class="item3">
        <form action="Register" method="post" class="accountform">
            <h2 class="logintitle">Nog geen lid?<br>Word lid!</h2>
            <p>
                <label for="Email" class="labeltext" autocomplete="off"></label>
                <input class="nonsubmit" name="Email" type="text" placeholder="E-mail" required>
            </p>
            <p>
                <label for="vEmail" class="labeltext" autocomplete="off"></label>
                <input class="nonsubmit" name="vEmail" type="text" placeholder="Bevestig e-mail" required>
            </p>
            <p>
                <label for="username" class="labeltext" autocomplete="off"></label>
                <input class="nonsubmit" name="username" type="text" placeholder="Gebruikersnaam" maxlength="15" required>
            </p>
            <p>
                <label for="postalcode" class="labeltext"></label>
                <input class="nonsubmit" name="postalcode" type="text" placeholder="Postcode" required>
            </p>
            <p>
                <label for="password" class="labeltext"></label>
                <input class="nonsubmit" name="password" type="password" placeholder="Wachtwoord" minlength="8" required>
            </p>
            <p>
                <label for="confirm_password" class="labeltext"></label>
                <input class="nonsubmit" name="confirm_password" type="password" placeholder="Bevestig wachtwoord" minlength="8" required>
            </p>
            <p class="terms">Door op Registreren te klikken, ga je akkoord met de <a class="termlink" href="www.link.here">Gebruiksvoorwaarden<br></a> en het <a class="termlink" href="www.link.here">Privacybeleid</a></p>

            <button type="submit" class="submit" id="registersubmit">Registreren</button>
        </form>
    </div>
</div>
<script type="text/javascript" src="~/js/Login.js" asp-append-version="true"></script>



