@{
    ViewData["Title"] = "Inloggen/Registreren";
}
<div class="logincontainer">
    <div class="item1">
        <article class="loginarticle">
            <h1 class="titleleft">STEX</h1><h1 class="titleright">CHANGE</h1>
            <p class="textlogin">
                Stekje over? Teveel planten op je balkon? Op zoek naar een nieuwe soort?
                Op deze site kun je makkelijk zaden en planten met elkaar ruilen of weggeven.
            </p>
        </article>
    </div>

    <div class="item2">
        <form action="Inloggen" method="post" class="accountform">
            <h2 class="logintitle">Hallo!<br>Welkom terug.</h2>
            <p>
                <label for="Email" class="labeltext"></label>
                <input class="nonsubmit" placeholder="E-mail of gebruikersnaam" name="emailOrUname" type="text" required>
            </p>
            <p>
                <label for="password" class="labeltext"></label>
                <input class="nonsubmit" placeholder="Wachtwoord" name="password" type="password" required>
            </p>
            @switch (TempData["message"])
            {
                case "username of email error":
                    <div>
                        <span>Het e-mailadres of de gebruikersnaam is niet juist</span>
                    </div>
                    break;
                case "wachtwoord error":
                    <div>
                        <span>Het wachtwoord is niet juist.</span>
                    </div>
                    break;

            }
            <a href="www.link.here"><span class="forgetpasslink">Wachtwoord vergeten?</span></a>
            <input type="submit" value="Inloggen" class="submit">
        </form>
    </div>

    <div class="item3">
        <form action="Register" method="post" class="accountform">
            <h2 class="logintitle">Nog geen lid?<br>Word lid!</h2>
            @switch (TempData["Message"])
            {
                case "InvalidEmail":
                    <div>
                        <span>Ongeldig Emailadres</span>
                    </div>
                    break;
                case "EmailExists":
                    <div>
                        <span>Email is al gebruikt</span>
                    </div>
                    break;
                case "InvalidPostalCode":
                    <div>
                        <span>Ongeldige Postcode</span>
                    </div>
                    break;
                case "UsernameTaken":
                    <div>
                        <span>Gebruikersnaam is al bezet</span>
                    </div>
                    break;
                case "IncorrectPasswords":
                    <div>
                        <span>Wachtwoorden komen niet overeen</span>
                    </div>
                    break;
                case "IncorrectEmails":
                    <div>
                        <span>E-mails komen niet met overeen</span>
                    </div>
                    break;
                case "InvalidPassword":
                    <div>
                        <span>Ongeldig wachtwoord. Wachtwoord moet uit minimaal 8 karakters bestaan</span>
                    </div>
                    break;
            }
            <p>
                <label for="Email" class="labeltext"></label>
                <input class="nonsubmit" name="Email" type="text" placeholder="E-mail" required>
            </p>
            <p>
                <label for="vEmail" class="labeltext"></label>
                <input class="nonsubmit" name="vEmail" type="text" placeholder="Bevestig e-mail" required>
            </p>
            <p>
                <label for="username" class="labeltext"></label>
                <input class="nonsubmit" name="username" type="text" placeholder="Gebruikersnaam" maxlength="15" required>
            </p>
            <p>
                <label for="postalcode" class="labeltext"></label>
                <input class="nonsubmit" name="postalcode" type="text" placeholder="Postcode" required>
            </p>
            <p>
                <label for="password" class="labeltext"></label>
                <input class="nonsubmit" name="password" type="password" placeholder="Wachtwoord" minlength="8" required>
            </p>
            <p>
                <label for="confirm_password" class="labeltext"></label>
                <input class="nonsubmit" name="confirm_password" type="password" placeholder="Bevestig wachtwoord" minlength="8" required>
            </p>
            <p class="terms">Door op Registreren te klikken, ga je akkoord met de <a class="termlink" href="www.link.here">Gebruiksvoorwaarden<br></a> en het <a class="termlink" href="www.link.here">Privacybeleid</a></p>

            <button type="submit" class="submit" id="registersubmit">Registreren</button>
        </form>
    </div>
</div>


