@{
    ViewData["Title"] = "Geverifieerd";
}

@{
    object verificationId;
    ViewContext.RouteData.Values.TryGetValue("id", out verificationId);
}
<link rel="stylesheet" href="~/css/VerificationVerify.css" />

<form action="Verification/@(verificationId)" method="get">
    <h2>E-mail verificatie voltooid</h2>
    <div>
        <p>Bedankt voor het bevestigen van je email</p>
    </div>
</form>